@import '../styles/colors.scss';

#registration {
    height: 100%;
    padding: 1%;

    .registration-form {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        padding: 1%;
        width: 100%;
        height: 300px;
        font-size: 14px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .registration-inputs {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                font-size: 18px;
                height: 35px;
                width: 350px;
                margin-bottom: 15px;
                border: 0;
                border: 1px solid $fornary-background-color;
                padding: 2%;
                outline: none;
                transition: .2s ease-in-out;
                box-sizing: border-box;
                background: $tertiary-background-color;
            }
    
        }
        
        .registration-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            button {
                margin-bottom: 15px;
                margin-top: 15px;
                font-size: 18px;
                height: 35px;
                width: 350px;
                border: 1px solid $fornary-background-color;
                background: $secondary-background-color;
                transition: .2s ease-in-out;
                color: $font-color;
            }
        }
    }
}