@import '../styles/colors.scss';

#sidemenu {
    width: 200px;
    height: 100%;
    background: #FFF;
    position: absolute;
    top: 0;

    #profile {
        background: inherit;
        padding: 5% 1% 5% 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        #photo {
            width: 125px;
            height: 125px;
            border-radius: 50%;
            background: #307351;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }

        label {
            background: inherit;
        }
    }

    #contact-list {
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        label {
            background: #FFF;
            color: $font-color;
            border-top: 1px solid $font-color;
            border-bottom: 1px solid $font-color;
            font-size: 18px;
            padding: 5% 0% 5% 0%;
            margin-bottom: 5%;
            width: 100%;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            background: #FFF;
            width: 100%;
            padding: 1%;
            
            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5%;
                background: #FFF;
                color: $font-color;
                list-style: none;

                .online, .offline, .busy, .away {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }

                .online {
                    background: #307351;
                }
                .offline {
                    background: #4D5061;
                }
                .away {
                    background: #E9B44C;
                }
                .busy {
                    background: #841C26;
                }
            }
        }
    }
}
#sidemenu.open {
    position: absolute;
    left: 0;
    animation-name: openSidemenu;
    animation-duration: 0.5s;
}

#sidemenu.close {
    position: absolute;
    left: -200px;
    animation-name: closeSidemenu;
    animation-duration: 0.5s;
}

@keyframes openSidemenu {
    from {left: -200px;}
    to {left: 0;}
}

@keyframes closeSidemenu {
    from {left: 0;}
    to {left: -200px;}
}